<launch>
    <arg name="namespace" default="puddles" doc="Namespace of the vehicle"/>
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true" ns="$(arg namespace)">
        <rosparam command="load" file="$(find riptide_navigation)/params/ekf_config.yaml" />
        <param name="base_link_frame" value="$(arg namespace)/base_link" />
    </node>
</launch>