<launch>
    <arg name="namespace" default="puddles" doc="Namespace of the vehicle"/>
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_node">
        <rosparam command="load" file="$(find riptide_navigation)/params/ekf_config.yaml" />
        <param name="base_link_frame" value="$(arg namespace)/base_link" />
        <param name="reset_on_time_jump" value="true" />
    </node>
    <node pkg="riptide_navigation" name="dvl_converter" type="dvl_converter.py" />
    <node pkg="riptide_navigation" name="depth_converter" type="depth_converter.py" />
    
    <!-- A joint state publisher -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen" />

    <!-- Publish robot model for Sensor locations -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
        <param name="use_tf_static" value="true" />
    </node>

    <!-- Publish world and odom as same thing until we get SLAM -->
    <!-- This is here so we can compare ground truth from sim to odom -->
    <node pkg="tf" type="static_transform_publisher" name="odom_to_world_broadcaster" args="0 0 0 0 0 0 1 world odom 100" />

</launch>